@import './../../settings';

.home-container {
  width: 100%;

  .sidebar {
    display: flex;
    height: 100vh !important;
    align-items: center;
    justify-content: center;

    @include desktop() {
      width: 15% !important;
    }

    @include tablet('portrait') {
      width: 30%;
    }

    @include tablet('landscape') {
      width: 20%;
    }

    .button-sidebar {
      font-size: 1.9em !important;
    }

    .sidebar-item-list {
      padding-left: 5%;
      width: 90%;
      height: 30%;
      text-align: center;

      .sidebar-item-icon {
        font-size: 1.2em;
        padding-right: 10px
      }

      .sidebar-item-text {
        font-size: 1em;
      }

      &:hover{
        background: $GrayHoverColor;

        .sidebar-item-text, .sidebar-item-icon {
          color: rgb(63, 81, 181);
        }
      }
    }

    .divider{
      border: 1px $GrayHoverColor solid;
    }
  }

  .separator {
    flex: 1 1 auto;
  }

  .icon {
    margin-top: 0;
    font-size: 1.3em;
  }

  // .views-container {
  //   display: flex;
  //   height: 90vh;
  //   align-items: center;
  //   justify-content: center;
  //   overflow-y: scroll;
  // }
}

.btnIcon {
  font-size: 1.5em;
}

.example-sidenav {

  padding: 20px;
}
