@import './../../settings';

#loginContainer {
  height: 100vh;
  max-height: 100vh;
  background: rgba(238, 238, 238, 1);

  .loginContainer {
    min-height: 300px;
    min-width: 40%;
    max-width: 700px;
    -webkit-box-shadow: 10px 11px 12px 8px rgba(0,0,0,0.26);
    -moz-box-shadow: 10px 11px 12px 8px rgba(0,0,0,0.26);
    box-shadow: 10px 11px 12px 8px rgba(0,0,0,0.26);
  
    @include tablet('portrait') {
      max-width: 100%;
    }
  
    @include tablet('landscape') {
      max-width: 60%;
    }
  }

  .emailForm {
    min-width: 600px;
  }
}