@import '~@angular/material/theming';
////////////////////////////////////////////////////////////////////////////////
///////////////////////////////Colors////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

$GrayHoverColor: rgba(245, 245, 245, 1);
$BlackColor: rgba(0, 0, 0, 1);
$WhiteC0lor: rgba(255, 255, 255, 1);


////////////////////////////////////////////////////////////////////////////////
///////////////////////////////VARIABLES////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

$DesktopMinWidth: 1281px;
$LaptopsMinWidht: 1025px;
$LaptopMaxWidth: 1280px;
$TabletMinWidth: 768px;
$TabletMaxWidth: 1024px;
$PhoneMinWidth: 481px;
$PhoneMaxWidth: 767px;
$LowPhoneMinWidht: 320px;
$LowPhoneMaxWidht: 480px;




// Define a custom mixin that takes in the current theme
@mixin theme-color-grabber($theme) {
  // Parse the theme and create variables for each color in the pallete
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  // Create theme specfic styles
  .principal {
    background-color: mat-color($primary);
  }
  .accent {
    background-color: mat-color($accent);
  }
  .warn {
    background-color: mat-color($warn);
  }
}


// Device = Desktops
// Screen = 1281px to higher resolution desktops
@mixin desktop {
  @media (min-width: #{$DesktopMinWidth}) {
    @content;
  }
}

// Device = Retina
@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}

// Device = Laptops, Desktops
// Screen = B/w 1025px to 1280px
@mixin laptop {
  @media (min-width: #{$LaptopsMinWidht}) and (max-width: #{$LaptopMaxWidth - 1px}) {
    @content;
  }
}

// Device = Tablets, Ipads.
// Screen = B/w 768px to 1024px.
// Recibe as parametter the orientation (portrait or landscape).
@mixin tablet ($pOrientation) {
  @media (min-width: #{$TabletMinWidth}) and (max-width: #{$TabletMaxWidth}) and (orientation: $pOrientation) {
    @content;
  }
}

// Device = Low Resolution Tablets, Mobiles (Landscape)
// Screen = B/w 481px to 767px
// Recibe as parametter the orientation (portrait or landscape).
@mixin phone ($pOrientation) {
  @media (min-width: #{$PhoneMinWidth}) and (max-width: #{$PhoneMaxWidth}) and (orientation: $pOrientation) {
    @content;
  }
}


// Device = Most of the Smartphones Mobiles (Portrait)
// Screen = B/w 320px to 479px
// Recibe as parametter the orientation (portrait or landscape).
@mixin lowPhone ($pOrientation) {
  @media (min-width: #{$LowPhoneMinWidht}) and (max-width: #{$LowPhoneMaxWidht}) and (orientation: $pOrientation) {
    @content;
  }
}
